
.compact-form-wrapper {
  position: relative;
  text-align: left;
}
.compact-form-label {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  font-size: .9em;
}
.required-hidden:after {
  display: none;
}
